@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #DB4035;
$secondary-color: #FAFAFA;
$sidebar-color: #F4F4F4;
$task-complete-color: lightgray;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

header  {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  padding: 0.7rem 3rem;
}

body {
  background-color: $secondary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

#project {
  flex: 4 0 auto;
  overflow: auto;
}

#sidebar {
  background-color: $sidebar-color;
  flex: 0 0 auto;
  width: 300px;
    padding: 30px 10px 0px 30px;
}

.material-icons {
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  &:hover {
    background-color: rgb(184,
      184,
      184, 0.5);
  }
}

.material-icons.md-24 {
  font-size: 24px;
}

button {
  background-color: $primary-color;
  color: $secondary-color;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
}

.project {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  &:hover {
    background-color: rgb(184,
          184,
          184, 0.5);
  }
}

.current {
  background-color: rgb(184,
        184,
        184, 0.5);
}

.project-count {
  color: rgb(150,
        150,
        150);
  font-size: 0.9rem;
}

h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

#project {
  padding: 35px 50px;
}

.task {
  cursor: pointer;

  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 0;
}

.task-date {
  color: $primary-color;
  margin-left: auto;
}

.task-detail {
  display: flex;
  flex-direction: column;
}

.task-desc {
  margin-top: 10px;
  color: rgb(150,
      150,
      150);
      font-size: 0.8rem;
}

hr {
  border-color: rgb(150,
      150,
      150, 0.1);
  margin: 0 0 10px 0;
}

.priority-1 {
  border: tomato 2px solid;
  padding: 10px;
  border-radius: 15px;

  &:hover {
      background-color: $task-complete-color;
    }
}

.priority-2 {
  border: orange 2px solid;
  padding: 10px;
  border-radius: 15px;

  &:hover {
    background-color: $task-complete-color;
  }
}

.priority-3 {
  border: royalblue 2px solid;
  padding: 10px;
  border-radius: 15px;

  &:hover {
      background-color: $task-complete-color;
    }
}

.priority-4 {
  border: lightgray 2px solid;
  padding: 10px;
  border-radius: 15px;

  &:hover {
      background-color: $task-complete-color;
    }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form > div {
  display: flex;
  gap: 20px;
}
form > div > div:nth-child(1) {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

form>div>div:nth-child(2) {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

dialog {
  border: none;
  border-radius: 15px;
  box-shadow: $box-shadow;
  margin-top: 100px;
}

#cancel-task {
  background-color: lightgrey;
  color: #181818;
}

#task-title{
  font-size: 19px;
}

#task-title, #task-description {
  outline: none;
  border: none;
}

#task-pickable-values-add {
  display: flex;
  justify-content: space-between;
}

#edit-dialog {
  padding: 0;
}
#edit-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 700px;
}

#edit-container {
  display: flex;
  min-height: 200px;
  width: auto;
}

#additional-edit {
  background-color: $sidebar-color;
  flex: 1 0 auto;
  padding: 16px;
}

#main-edit {
  padding: 16px;
  flex: 2 1 auto;
  display: flex;
  gap: 20px;
}
#main-edit:nth-child(1) {
  height: 25px;
}

#main-edit:nth-child(1) .complete{
  height: 25px;
}

#task-edit-title {
  font-size: 24px;
  margin-bottom: 10px;
}

#task-edit-desc {
  font-size: 14px;
}

#additional-edit > div{
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
}
#additional-edit>div>label {
  font-size: 15px;
}

.complete {
  padding: 1px 4px;
  background-color: $task-complete-color;
  &::after {
    content: "✓";
  }
}

#add-project {
  width: fit-content;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 10px;
  
  &:hover {
    background-color: rgb(184,
          184,
          184, 0.5);
  }
}
.project-create-option {
  font-size: 30px;
  width: 35px;
  text-align: center;
  border-radius: 10px;
  &:hover {
      background-color: rgb(184,
          184,
          184, 0.5);
    }
}
#input-project-container {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  padding: 5px 15px;
}

#input-project {
  padding: 0 5px; 
    width: 150px;
  border-radius: 5px;
}

#count-delete-project-container{
  display: flex;
  align-items: center;
  gap: 10px;
}