@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #DB4035;
$secondary-color: #FAFAFA;
$sidebar-color: #F4F4F4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

header  {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  padding: 0.7rem 3rem;
}

body {
  background-color: $secondary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

#project {
  flex: 4 0 auto;
}

#sidebar {
  background-color: $sidebar-color;
  flex: 0 0 auto;
  width: 300px;
}

.material-icons {
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  &:hover {
    background-color: rgb(184,
      184,
      184, 0.5);
  }
}

.material-icons.md-24 {
  font-size: 24px;
}

button {
  background-color: $primary-color;
  color: $secondary-color;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
}

#sidebar {
  padding: 30px 10px 0px 30px;

}
.project {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  &:hover {
    background-color: rgb(184,
          184,
          184, 0.5);
  }
}

.project-count {
  color: rgb(150,
        150,
        150);
  font-size: 0.9rem;
}